<div fxLayout="column" fxFlex>
  <h1>My first app with ngRx</h1>

  <div>
    <button (click)="increment()">Increment</button>
    <div>Current Count: {{ counter }}</div>
    <button (click)="decrement()">Decrement</button>

    <button (click)="reset()">Reset Counter</button>

  </div>

  <div fxLayout="row" fxFlex>
    <div fxFlex="">
      <app-chat></app-chat>
    </div>
    <div fxFlex="">
      <app-float-chat></app-float-chat>
    </div>
  </div>

  <div fxLayoutAlign="end center" fxLayout="column">
    <div>
      <form (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Type your message..." [(ngModel)]="message" name="message">
        <button>Send</button>
      </form>
    </div>
  </div>


</div>
